.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner input {
  width: 350px;
  padding: 10px;
  border: 1px solid var(--grey-light);
  font-size: 1.1rem;
}

.banner input:focus {
  outline: none;
}

.banner select {
  width: 140px;
  padding: 3px;
}